node_modules
illustrations-out
ci-out
books-out
.git
.github
.expo
.vscode
.idea
*.log
*.tsbuildinfo
coverage
.next
.cache
.DS_Store
app
components
hooks
store
supabase
assets
constants
docs
utils
android
ios
